@model ERS_Demo_Project.Models.Employee
@{
    ViewBag.Title = "DeleteEmployee";
}

<h2>Delete Employee</h2>
<hr />

<h3> Are you sure you want to delete @Model.Name?</h3>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-outline-success">Delete</button>
    @Html.ActionLink("Cancel", "ReadEmployee", "Home", new { @class = "btn btn-outline-danger", style = "margin:0 auto;" })
}

